* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1abc9c;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #148f77;
  }
  
  /* Style the "Choose file" button */
input[type="file"] {
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  /* Style the filename display */
  input[type="file"]::after {
    content: attr(data-file-name);
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
    color: #777;
  }

  .t1{
    color:red;
  }