* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #65C6E6;
  }
  
  .thank-you {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    max-width: 500px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin-top: 10px;
  }
  
  